body {
  font-size: 1.5em;
  background-color: lightcyan;
  color: black;
}

img {
  height: 130px;
  width: 130px;
}

.hover-underline:hover {
  text-decoration: underline;
}

.light-background {
  background-color: lightcyan;
  color: black;
}

.dark-background {
  background-color: black;
  color: white;
}

.btn-cyan {
  background-color: cyan;
}
